body
{
    font-family: Calibri;
    background-image:url(../Images/perforated_bg.png)
}

.cComment
{
    color: #a9a9a9;
}

.cClass
{
    color: #10b7e8;
}

.cKeyword
{
    color: blue;
}

.cPositive
{
    background-color: #cdf7c8;
}

.cNegative
{
    background-color: #f6e0dd;
}

.cLink
{
    color: deepskyblue;
    text-decoration: underline;
    border: none;
    font-weight: normal;
}

code
{
    border: 3px dashed #c4c4c4;
    padding: 10px;
    background-color: #f6f6f6;
    font-family: monospace;
    white-space: pre;
    display: block;
    overflow-x: auto;
    margin: 15px 0px;
}

.button
{
    color: white;
    border: 12px solid transparent;
    border-image-source: url(../Images/green_button08.png);
    border-image-slice: 16 fill;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.section
{
    margin-left: auto;
    margin-right: auto;
}

.secAdapting
{
    border: 12px solid transparent;
    border-image-source: url(../Images/panel_bg.png);
    border-image-slice: 15 fill;
    width: 75%;
    padding: 25px 60px;
}

@media only screen and (max-width: 768px)
{
    .secAdapting
    {
        border:none;
        width: calc(100% - 14px);
        padding-left: 7px;
        padding-right: 7px;
    }

    body
    {
        margin: 0;
    }
}
